html {
    height: 100%;
    width: auto;
}
body {
    color: black;
    height: 100%;
    width: 100%;
}
img {
    width: 200px;
    height: 200px;
    object-fit: scale-down;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}
.big {
    object-fit: scale-down;
}
.singleCard {
    height: 50%;
    width: auto;
}
.singleCard a:hover{
    text-decoration: brown;
}
.parent {
    height: 90%;
    width: auto;
}
.title{
    font-size: 2rem;
}