html, body {
    height: 100%;
    width: auto;
}
.parent a, a:hover {
    text-decoration: none;
    color: black;
}
.singleCard {
    height: 50%;
    width: auto;
    margin: 1%;
}
.parent {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 2rem;
}
img {
    max-height: 200px;
    width: auto;
    overflow: hidden;
}