body {
    color: black;
}
img {
    width: 200px;
    height: 200px;
    object-fit: scale-down;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}
.big{
    
    object-fit: scale-down;
}