{% extends 'auctions/layout.html'%}

{% block title %}
{{ item.name }}
{% endblock %}

{% block body %}
<div class="container detail-page">
    <h4 class="mb-3">Listing: <span class="title">{{ item.name }}</span></h4>
    <div class="image">
        <img class="big" src="{{ item.imageUrl }}" alt="{{ item.id }}">
    </div>
    <div class="item-description">
        {{ item.description }}
    </div>
    <div class="bid">
        Start Bid : <strong>${{ item.startBid }}</strong>
    </div>
    {% for bid in bids %}
    <div class="text-center">{{ bid.user.username }} bid <strong>{{ bid.bidValue }}</strong> at
        {{ bid.date|date:'M d, h:i a' }}</div>
    {% empty %}
    <div class="alert alert-warning text-center">
        No Bids Yet!
    </div>
    {% endfor %}

    <section class="my-3">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}

        {% if bid and item.active == False %}

        <div class="alert alert-dark text-center">
            {% if bid.user.username == user.username %}
            You Won The Auction!
            {% else %}
            <strong>{{ bid.user.username }}</strong> won, with a bid of <strong>${{ bid.bidValue }}</strong>
            {% endif %}
        </div>

        {% endif %}

        {% if item.active and user.is_authenticated %}
        <form action="{% url 'bid' item.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="number" name="bid" class="form-control" placeholder="Bid" step=".01">
            </div>
            <div class="row justify-content-around">
                <button class="btn btn-primary" type="submit">Place Bid</button>
                {% if item.user.username == user.username %}
                <a href="{% url 'end' item.id %}">
                    <button class="btn btn-warning" type="button">End Auction</button>
                </a>
                {% endif %}
            </div>
        </form>
        {% endif %}
    </section>

    <section>
        Details:
        <ul>
            <li>Listed By: <strong>{{ item.user.username }}</strong></li>
            <li>Category: <strong>{{ item.category.name }}</strong></li>
            <li>Listed On: <strong>{{ item.date }}</strong></li>
        </ul>
    </section>

    <section>
        Comments:
        {% for comment in comments %}
        <div class="card comment">
            <div class="card-body">
                <div class="card-title">
                    <strong>{{ comment.user.username }}</strong>: {{ comment.commentValue }}
                </div>
                <div class="card-text">
                    <small>Commented on: <strong>{{ comment.date|date:'M d, h:i a' }}</strong></small>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="alert alert-info mt-2">
            No Comments Yet
        </div>
        {% endfor %}

        {% if user.is_authenticated %}
        <form action="{% url 'comment' item.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <textarea name="content" rows="4" class="form-control" placeholder="Enter a comment"></textarea>
            </div>
            <button class="btn btn-dark py-2 px-4" type="submit">Comment</button>
        </form>

        <form action="{% url 'watchlist' %}" method="post" class="add-category">
            {% csrf_token %}
            <input type="hidden" name="item" value="{{ item.id }}">
            <input type="hidden" value="{% if item in user.watchlist.all %}0{% else %}1{% endif %}" name="status">
            <button class="gradient-button watchlist" type="submit">
                {% if item in user.watchlist.all %}Remove from{% else %}Add to{% endif %} Watchlist
            </button>
        </form>
        {% endif %}
    </section>


</div>
{% endblock %}