{% extends 'auctions/layout.html'%}

{% block title %}
{{ item.name }}
{% endblock %}

{% block body %}
<div class="container parent">
    <h4>Listing: <span class="title">{{ item.name }}</span></h4>
    <img class="big" src="{{ item.imageUrl }}" alt="{{ item.id }}">
    {{ item.description }}
    <br>
    Start Bid : ${{ item.startBid }}
    <br>
    {% for bid in bids %}
    {{ bid }}
    {% empty %}
    No Bids Yet!
    {% endfor %}<br>
    <form action="#" method="post" class="my-3" style="max-width: 600px;">
        <div class="form-group">
            <input type="number" class="form-control" placeholder="Bid" step=".01">
        </div>
        <div class="row justify-content-around">
            <button class="btn btn-primary" type="submit">Place Bid</button>
            {% if item.user.username == user.username %}
            <button class="btn btn-warning" type="button">End Auction</button>
            {% endif %}
        </div>
    </form>

    <div class="container">
        Details
        <ul>
            <li>Listed By: {{ item.user.username }}</li>
            <li>Category: {{ item.category.name }}</li>
            <li>Listed On: {{ item.date }}</li>
        </ul>
    </div>
</div>
{% endblock %}